*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
html{
    scroll-behavior:smooth ;
}
body{
    background:black;
    color: #fff;
    
    overflow-x: hidden
}
#header{
  
    height: 100vh;
    width: 100vw;
    background-image: url(images/Picsart_23-09-30_22-28-15-654.png);
    background-size:contain;
    background-position:right;
    background-repeat: no-repeat;
   

}
.container{
    padding: 10px 10% ;
   
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
   
}
.logo{
    margin-right: 10px;
    width: 140px;

}
nav ul{
    margin-left: 20px;
}
nav ul li{
    display: inline-block;
    list-style: none;
   margin: 10px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
 nav ul li a::after{
    content: '';
    width: 0;
     height: 3px;
     background-color: #ff004f;
     position: absolute;
     left: 0;
     bottom: -6px;
     transition: 0.5s; 
} 
nav ul li a:hover::after{
    width: 100%;
}
.text{
    color: rgb(80, 80, 110);
}
.header-text{
    margin-top: 17%;
    font-size: 30px;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 10px;
    color: blueviolet;
}
.header-text h3{
    font-size: 30px;
    margin-top: 10px;
}
.text{
    font-size: 50px;
    margin-left: 20px;
}
/* about */
 #about{
    padding: 60px 0;
    color: #ababab;
    
}
.row{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35% ;
    
   

}
.about-col-1 img{
    width: 100%;
    

}
.about-col-2{
    flex-basis: 60%;
    margin: 80px 0;
}
.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;



}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color: #b5476b; ;
    font-size: 20px;
}
.tab-contents ul li {
    font-size: 25px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* services */
#services{
    padding: 30px 0;
}
 .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }
 .services-list div{
    background: #262626;
    padding: 40px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s; 
 }
 .services-list div i{
    font-size: 50px;
    margin-bottom: 25px;

 }
 .services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

 }
 .services-list div a{
    text-decoration: none;
    color:grey;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    display: inline-block;
    background: rgb(7, 3, 3);
    border-radius: 8px;
    padding: 8px;
    transition: background 0.5s,transform 0.5s;

 }
 .services-list div a:hover{
    background: rgb(4, 254, 225);
    transform: translate(-10px);
    font-size: 23px;
    font-weight: 430;

 }
 .services-list div:hover{
    background: #ff004f;
    transform: translatey(-10px);
    font-weight: 500;
 }
 #first-learnmore{
    display: none;
 }
/* my_work */
#portfolio{
    padding: 50px 0;

}
.work_list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
   transition: 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height:50px ;
}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.5s;

}
.btn:hover{
    transform: scale(1.1);
    color: black;
    background: #fff;
    font-weight: 500;
    
}
/* contact */
.contact_left{
    flex-basis: 35%;
}
.contact_right{
    flex-basis: 60%;
}
.contact_left p{
    margin-top: 30px;
}
.contact_left p i {
    color: #ff004f;
    margin-right: 13px;
    font-size: 25px;
}
.social_icons{
    margin-top: 30px;

}
.social_icons a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social_icons a:hover{
    color: #ff004f;
    transform: translatey(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;

}
.btn3{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 60px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: transform 0.5s;
    background: #ff004f;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}
.btn3:hover{
    transform: scale(1.1);
    color: black;
    background: #fff;
    font-weight: 500;
    background: #ff004f;
}
 .contact_right form{
    width: 100%;
 }
 form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
 }
 /* mediaquery */
/* css  for small screen */
.fa-sharp.fa-solid.fa-xmark{
    display: none;
}
.fa-solid.fa-bars {
    display: none;
}




@media only screen and (max-width: 600px) {
    #header{
        background-image: url(images/Picsart_23-09-30_22-28-15-654.png);
        background-position: bottom 0px right 00px;
        background-size: 150%;
       
        
      
    }
    /* html{
        overflow-x:hidden
    } */
    .header-text{
        margin-top: 140%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
       margin-bottom: -10px;
      
    }
      
    
    .header-text span{
        font-size: 35px;
    }
    .header-text p{
        color: #0026ff;
        font-weight: 600;
        margin-bottom: -10px;
       
    }
    .fa-sharp.fa-solid.fa-xmark{
        display: block;
    }
    .fa-solid.fa-bars {
       
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        padding-top: 50px;
        height: 100vh;
        width: 180px;
        top: 0;
        right: -180px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-sharp.fa-solid.fa-xmark{
        position: absolute;
        top: 25px;
        left: 25px;
        font-size: 25px;
        cursor: pointer;
    }
    .sub-tittle{
        font-size: 40px;
    }
    
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 14px;

    }
    .contact_left,.contact_right{
        flex-basis: 100%;
    }
}

@media only screen and (min-width: 376px) and (max-width: 600px){
    .header-text{
        margin-top: 200%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
       margin-bottom: -10px;
      
    }
      
    
    .header-text span{
        font-size: 35px;
    }
    .header-text p{
        color: #0026ff;
        font-weight: 600;
        margin-bottom: -10px;
       
}}


@media only screen and (min-width: 600px) and (max-width: 1036px){

    .header-text{
        margin-top: 50%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
       margin-bottom: -10px;
      
    }
      
    
    .header-text span{
        font-size: 35px;
    }
    .header-text p{
        color: #0026ff;
        font-weight: 600;
        margin-bottom: -10px;
}
.logo{
    margin-left: -40px;
    width: 100px;
}
nav ul{
    margin-right: -30px;
}}
